<% provide(:title, "Edit") %>
<p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Update your profile</p>
 
<%= render 'form' %>

  <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="https://gravatar.com/emails" target="_blank">change</a> 
  </div>

 